:root {
    --blanco: #fff;
    --primario: #2E2E2E;
    --primarioOscuro: #191919;
    --secundario: #EFEFEF;
    --rojo: #F27474;
    --amarillo: #FFF700;
    --fuente_principal: 'Readex Pro', sans-serif;
    --fuente_logo: 'Parisienne', cursive;
}

/** Globales **/
html {
    font-size: 62.5%;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: var(--fuente_principal);
}
body {
    background-color: var(--primario);
    margin: 0;
}
a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 400;
}
h1{
    font-size: 5rem;
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: 6rem;
}
h2 {
    font-size: 2.7rem;
    font-weight: 200;
    margin: 0;
    text-transform: uppercase;
}
h3 {
    font-size: 2rem;
    font-weight: 300;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 100%;
}
.flex-column {
    display: flex;
    flex-direction: column;
}



/** Navegacion **/
.navegacion {
    background-color: var(--primarioOscuro);
}
@media (max-width: 768px) {
    .navegacion {        
        flex-direction: column;
        align-items: center;
    }
    .navegacion__link--logo {
        display: none;
    }    
}
.navegacion__link:link {
    color: var(--blanco);
    font-family: var(--fuente_principal);
    padding: 1.5rem;
}
@media (max-width: 768px) {
    .navegacion__link:link {
        text-align: center;
        width: 100%;
    }
}
.navegacion__link:link:last-child {
    margin-right: 1.5rem;
}
@media (max-width: 768px) {    
    .navegacion__link:link:last-child {
        margin-right: 0;
    }
}
.navegacion__link--logo {
    color: var(--blanco);
    font-family: var(--fuente_logo);
    font-size: 3rem;
    margin-right: auto;
    margin-left: 3rem;
}
.navegacion__link:hover {
    background-color: var(--primario);
}

/** Hero **/
.hero {
    background-image: url(../res/barbijo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: var(--blanco);
    text-align: center;
    
    position: relative;
}
.hero__contenido {
    align-items: center;
    background-color: rgb(0 0 0 / 56%);
}
.hero__contenido--h1 {
    margin-top: 5rem;
    margin-bottom: 2rem;
    text-transform: capitalize;
}
.hero__contenido--boton:link,:visited {
    background-color: var(--primarioOscuro);
    color: var(--blanco);
    text-transform: uppercase;
    padding: 1.5rem 2.5rem;
    border-radius: 1rem;
    margin-bottom: 4rem;
}
.hero__contenido--boton:hover {
    background-color: var(--primario);
}

/** Catalogo **/
.catalogo {
    text-align: center;
    color: var(--blanco);
}
.catalogo__div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 3rem;
}
@media (max-width: 768px) {
    .catalogo__div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.catalogo__bloque {
}
.catalogo__imagen {
    width: min(48rem, 100%);
    height: min(40rem, 100%);
    border-radius: 15px;
}
.catalogo__titulo {
}

/** Tarjetas **/
.tarjetas {
    color: black;
    text-align: center;
    font-family: var(--fuente_principal);
    background-image: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 65%, rgba(217,217,217,1) 100%);;
}
.tarjetas__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
}
@media (max-width: 768px) {
    .tarjetas__grid {
        grid-template-columns: 1fr;
    }
}
.tarjetas__titulo {
    padding-top: 3rem;
}
.tarjetas__tarjeta {
    display: grid;
    grid-template-rows: 1fr 1fr;

    background-color: var(--blanco);
    color: black;
    -webkit-box-shadow: 0px 13px 23px -8px rgba(0,0,0,0.6); 
    box-shadow: 0px 13px 23px -8px rgba(0,0,0,0.6);
    height: 40rem;
    margin-bottom: 15rem;
    border-radius: 15px;
}
@media (max-width: 768px) {
    .tarjetas__tarjeta {
        margin-bottom: 5rem;
    }
}
.tarjetas__tarjeta--svg {
    background-color: var(--amarillo);
    width: 100%;
    height: 100%;
}
svg:nth-last-of-type() {
    background-color: var(--rojo);
}
.tarjetas .contenedor {
    max-width: 80rem;
}

/** Footer **/
.footer {
    text-align: center;
}
.footer__texto {
    color:var(--blanco);
    margin: 1rem;
}